
.avis {
    text-align: center;
    font-family: 'Playfair Display', Georgia, serif;
    padding: 5rem;
    column-gap: 2rem;
    align-items: center;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .actions button {
    margin-right: 5px;
  }
  
  .btn {
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    
  }
  .btnModifier{
    color: #007bff;

  }
  
  
  .btn-success {
  margin: 5px;
    color: red;
  }
  
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-container button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .form-container button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .form-container button[type="submit"]:focus {
    outline: none;
  }
  .avisemail{
    color: #ccc;
  }
  .btnEnvoyer {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btnEnvoyer:hover {
    background-color: #aaa;
  }
  