#contact {
  text-align: center;
  font-family: 'Playfair Display', Georgia, serif;
  padding: 5rem;
  column-gap: 2rem;
  align-items: center;
  text-align: center;
}

#contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.invalid-feedback {
  color: red;
  font-size: 17px;
}

input.is-invalid,
textarea.is-invalid {
  border: 2px solid red;
}

.btnEnvoyer {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btnEnvoyer:hover {
  background-color: #aaa;
}
