.Home{
    grid-template-columns: 116px repeat(2,1fr);
    padding: 5rem;
    column-gap: 2rem;
    align-items: center;
    display: flex;
    

}
p{
  padding: 2rem;
}
h3{
  margin: 1rem;
}
.btnContact {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btnContact:hover {
    background-color: #aaa;
  }
  .homeImg {
    width: 300px;
    height: 300px;
    border-radius: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
  }
  .telechargerCV{
    display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  
  
  }
  