.about{
    padding: 5rem;
    column-gap: 2rem;
    align-items: center;
    text-align: center;

}
.dicription p{
background-color: #aaa;
border-radius: 20%;
padding: 2rem;
}
.aboutData{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 5rem;
    column-gap: 2rem;
    align-items: center;

}
.gridData{
    border: 1px solid black;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 3rem;

}
.icon{
    
    font-size: 2rem;
}
.gridData:hover{
    background-color: #aaa;
}
.about .subtitlr {
    display: none;
  }
  .about .gridData.active .subtitlr {
    display: block;
  }
  @media (max-width: 768px) {
    .about {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Afficher un élément par ligne */
      padding: 2rem; /* Réduire l'espace entre les éléments */
    }
  
    .gridData {
      width: 80%; /* Ajuster la largeur de l'élément pour occuper presque tout l'écran */
      margin: 0 auto; /* Centrer l'élément horizontalement */
      margin-bottom: 20px; /* Ajouter un espace entre les éléments */
    }
  
    .about .subtitle {
      display: block; /* Afficher les sous-titres */
    }
  }