.photo-container {
    position: relative;
  }
  
  .project-photo {
    display: none;
    width: 100%;
    padding: 20px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  .projetData{
    padding: 5rem;
    column-gap: 2rem;
    align-items: center;
    text-align: center;

  }
  .titleProjet {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }.langages {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .img {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .project-photo.active {
    display: block;
    opacity: 1;
  }
  
  @keyframes slideshow {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    53% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  