.header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .item {
    margin-left: 20px;
  }
  
  .item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .item a:hover {
    color: #aaa;
  }