/* Projets.css */
.projets-container {
  text-align: center;
  padding: 20px;
}

.projets-titre {
  font-size: 24px;
  margin-bottom: 20px;
}

.projets-liste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.projet-card {
  border: 1px solid black;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
}

.projet-titre {
  font-size: 20px;
  margin-bottom: 10px;
}

.projet-image img {
  width: 230px;
  height: 200px;
  object-fit: cover;
}

.projet-description {
  margin-top: -30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.projet-lien a {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.projet-lien a:hover {
  background-color: #2980b9;
}

.projet-lien a svg {
  margin-left: 5px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .projets-liste {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .projet-card {
    width: 80%; 
    margin: 0 auto;
    margin-bottom: 20px; 
  }
  .projet-image img {
    width: 100%;
    height: auto; 
  }
  .projet-description {
    font-size: 16px;
  }
  .projet-lien a {
    margin: 5px;
  }
}
