.social {
  position: fixed;
        background-color: #333;
        padding: 10px;
        color: white;
        bottom: 0;
        left: 0;
        width: 100%;
       
      
      
  }
  
  .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social li {
    margin: 0 10px;
    
  }
  
  .social a {
    text-decoration: none;
    color: #fff;
  }
  
  .social a:hover {
    color: #aaa;
  }